body {
  font-family: "Roboto", sans-serif;
}

h2, h3 {
  font-weight: 700;
  margin: 15px 0 5px 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.home-header {
  display: flex;
  justify-content: center;
}
.home-header img {
  width: 60%;
  padding: 3%;
}
@media screen and (min-width: 768px) {
  .home-header img {
    width: 300px;
  }
}

.location {
  background-color: #ededed;
  display: flex;
  align-items: baseline;
  justify-content: center;
  box-shadow: inset 0 3px 3px 0 #e0e0e0;
  gap: 10px;
}
.location_icon {
  color: black;
}

.explore {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 8% 50px;
}
.explore p {
  margin-bottom: 30px;
  text-align: center;
}
.explore_btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  padding: 18px 30px;
  color: white;
  box-shadow: 0 5px 5px 0 #e0e0e0;
}
.explore_btn:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 0 5px 5px 0 #D3D3D3;
}

.how-to {
  display: flex;
  flex-direction: column;
  padding: 3% 8% 8%;
  gap: 15px;
}
.how-to_list {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 5px 5px 5px 0 #e0e0e0;
}
.how-to_list:hover {
  cursor: pointer;
  background-color: #f2eafb;
}
.how-to_list:hover .how-to_icon {
  color: #9356DC;
}
.how-to_icon {
  color: #999999;
}
.how-to_number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  margin-left: -15px;
}

#menu {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3% 8% 8%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .menu {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu_card {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0 #e0e0e0;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .menu_card {
    width: 400px;
  }
}
.menu_card .img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.menu_card .img.portrait {
  object-position: 40% 60%;
}
.menu_card .img.landscape {
  object-position: 10% 90%;
}
.menu_card .label {
  position: absolute;
  color: #2c9c81;
  background-color: #99E2D0;
  width: 75px;
  height: 30px;
  font-weight: bolder;
  text-align: center;
  padding: 6px;
  top: 20px;
  right: 20px;
}
.menu_card-descript {
  display: flex;
  padding: 3% 5%;
  align-items: center;
}
.menu_card-descript .menu-text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap: 5px;
}
.menu_card-descript .menu-text h3, .menu_card-descript .menu-text p {
  margin: 0;
}
.menu_card-descript .btn-like {
  font-size: 30px;
}

footer {
  background-color: #3a3a3a;
  color: white;
  padding: 3% 8%;
  z-index: 3;
}
footer .text_logo {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul p {
  margin: 0;
}
footer ul li {
  margin: 10px 0;
}
footer ul .footer_list {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
footer ul .footer_mail {
  text-decoration: none;
  color: white;
}

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-header_icon {
  position: absolute;
  left: 3%;
  padding-top: 3%;
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.menu-header img {
  width: 60%;
  padding: 3% 3% 0 0;
}

.course_img {
  padding: 3% 0 0 0;
  position: relative;
  z-index: 1;
}
.course_img .img.landscape {
  width: 100%;
  object-position: 10% 90%;
}

.course {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: -60px;
  gap: 20px;
  background-color: #f9f9f9;
  border-radius: 40px 40px 0 0;
  padding: 3% 3% 50px;
}
.course_header {
  display: flex;
  align-items: baseline;
  padding: 2%;
}
.course_header-name {
  font-family: "Shrikhand", cursive;
  font-size: 200%;
  margin-right: auto;
}
.course_header .btn-like {
  font-size: 30px;
}
.course-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.course-menu_category .category_container {
  color: #1a1a1a;
  font-weight: 400;
}
.course-menu_category .category_container--underbar {
  border-top: solid 3px #99E2D0;
  width: 50px;
}
.course-menu_card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0 #e0e0e0;
  animation: fadeup 1000ms 100ms ease forwards;
  opacity: 0;
}
@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.course-menu_card.delay-second {
  animation-delay: 400ms;
}
.course-menu_card.delay-third {
  animation-delay: 700ms;
}
.course-menu_card::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  background-color: #99E2D0;
  transform-origin: center right;
  transform: scaleX(0%);
  transition: transform 500ms;
}
.course-menu_card:hover::before {
  transform: scaleX(20%);
}
.course-menu_card .menu_container {
  display: flex;
  flex-direction: column;
  padding: 3%;
  gap: 5px;
}
.course-menu_card .menu_container--top {
  margin: 0;
}
.course-menu_card .menu_container--bottom {
  display: flex;
}
.course-menu_card .menu_container--bottom-add {
  margin: 0;
}
.course-menu_card .menu_container--bottom-price {
  margin: 0 0 0 auto;
  font-weight: 700;
}
.course-menu_card .menu_container--anime {
  display: none;
}
.course-menu_card .menu_container--anime:hover {
  display: inline-block;
}
.course .course_btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  padding: 18px 30px;
  color: white;
  box-shadow: 0 5px 5px 0 #e0e0e0;
  width: 200px;
  margin: 20px auto 0 auto;
}
.course .course_btn:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 0 5px 5px 0 #D3D3D3;
}

/*# sourceMappingURL=style.css.map */
