body {
  font-family: "Roboto", sans-serif;
}

h2, h3 {
  font-weight: 700;
  margin: 15px 0 5px 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.home-header {
  display: flex;
  justify-content: center;
}
.home-header img {
  width: 60%;
  padding: 3%;
}
@media screen and (min-width: 768px) {
  .home-header img {
    width: 300px;
    padding: 3%;
  }
}

.location {
  background-color: #ededed;
  display: flex;
  align-items: baseline;
  justify-content: center;
  box-shadow: inset 0 3px 3px 0 #e0e0e0;
  gap: 10px;
}
.location_icon {
  color: black;
}

.explore {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 8% 50px;
}
.explore p {
  margin-bottom: 30px;
  text-align: center;
}
.explore_btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  padding: 18px 30px;
  color: white;
  box-shadow: 0 5px 5px 0 #e0e0e0;
}
.explore_btn:hover {
  cursor: pointer;
}

.how-to {
  display: flex;
  flex-direction: column;
  padding: 3% 8% 8%;
  gap: 15px;
}
.how-to_list {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 5px 5px 5px 0 #e0e0e0;
}
.how-to_list:hover {
  cursor: pointer;
  background-color: #f2eafb;
}
.how-to_list:hover .how-to_icon {
  color: #9356DC;
}
.how-to_icon {
  color: #999999;
}
.how-to_number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  margin-left: -15px;
}

#menu {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3% 8% 8%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .menu {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.menu_card {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0 #e0e0e0;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .menu_card {
    width: 400px;
  }
}
.menu_card .img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.menu_card .img.portrait {
  object-position: 40% 60%;
}
.menu_card .img.landscape {
  object-position: 10% 90%;
}
.menu_card .label {
  position: absolute;
  color: #2c9c81;
  background-color: #99E2D0;
  width: 75px;
  height: 30px;
  font-weight: bolder;
  text-align: center;
  padding: 6px;
  top: 20px;
  right: 20px;
}
.menu_card-descript {
  display: flex;
  padding: 3% 5%;
  align-items: center;
}
.menu_card-descript .menu-text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap: 5px;
}
.menu_card-descript .menu-text h3, .menu_card-descript .menu-text p {
  margin: 0;
}
.menu_card-descript .btn-like {
  font-size: 30px;
}

footer {
  background-color: #3a3a3a;
  color: white;
  padding: 3% 8%;
}
footer .text_logo {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul p {
  margin: 0;
}
footer ul li {
  margin: 10px 0;
}
footer ul .footer_list {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
footer ul .footer_mail {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
