body {
  font-family: "Roboto", sans-serif;
}

h2, h3 {
  font-weight: 700;
  margin: 15px 0 5px 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.home_header {
  display: flex;
  justify-content: center;
}
.home_header img {
  width: 60%;
  margin: 25px;
}
@media screen and (min-width: 768px) {
  .home_header img {
    width: 300px;
  }
}

.location {
  background-color: #ededed;
  display: flex;
  align-items: baseline;
  justify-content: center;
  box-shadow: inset 0 3px 3px 0 #e0e0e0;
  gap: 10px;
}
.location_icon {
  color: black;
}

.explore {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 8% 50px;
}
.explore h2 {
  text-align: center;
}
.explore p {
  margin-bottom: 30px;
  text-align: center;
}
.explore_btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  padding: 18px 30px;
  color: white;
  box-shadow: 0 5px 5px 0 #e0e0e0;
}
.explore_btn:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 0 5px 5px 0 #D3D3D3;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 3% 8% 8%;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .intro h2 {
    text-align: center;
  }
}
.intro--large {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .intro--large {
    flex-direction: row;
    gap: 30px;
  }
}
.intro_list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 5px 5px 5px 0 #e0e0e0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .intro_list {
    width: calc((100% - 10px) / 3);
  }
}
.intro_list:hover {
  cursor: pointer;
  background-color: #f2eafb;
}
.intro_list:hover .intro_icon {
  color: #9356DC;
}
.intro_icon {
  color: #999999;
  margin-left: 15px;
}
.intro_item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  position: absolute;
  left: -15px;
}

#restaurant {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3% 8% 8%;
}

.restaurant {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .restaurant {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .restaurant_title {
    text-align: center;
  }
}
.restaurant a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 768px) {
  .restaurant a {
    width: calc((100% - 20px) / 2);
  }
}
.restaurant .card {
  position: relative;
  width: 100%;
  height: 280px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0 #e0e0e0;
  gap: 10px;
}
.restaurant .card .img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant .card .img.portrait {
  object-position: 40% 60%;
}
.restaurant .card .img.landscape {
  object-position: 20% 80%;
}
.restaurant .card .label {
  position: absolute;
  color: #2c9c81;
  background-color: #99E2D0;
  width: 75px;
  height: 30px;
  font-weight: bolder;
  text-align: center;
  padding: 6px;
  top: 20px;
  right: 20px;
}
.restaurant .card_heading {
  display: flex;
  padding: 3% 20px;
  align-items: center;
}
.restaurant .card_text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap: 5px;
}
.restaurant .card_text h3, .restaurant .card_text p {
  margin: 0;
}

.like_btn {
  position: relative;
  font-size: 30px;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
.like_btn--selected {
  position: absolute;
  right: 20px;
  font-size: 30px;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
}
.like_btn--selected:hover {
  animation: fill 500ms ease-in-out forwards;
  cursor: pointer;
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

footer {
  background-color: #3a3a3a;
  color: white;
  padding: 3% 8%;
  z-index: 3;
}
footer .footer_heading {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul p {
  margin: 0;
}
footer ul li {
  margin: 10px 0;
}
footer .footer_list {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
footer .footer_contact {
  text-decoration: none;
  color: white;
}

.course_header {
  display: flex;
  align-items: center;
  margin: 25px;
}
.course_header .course_icon {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.course_header img {
  width: 60%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .course_header img {
    width: 300px;
  }
}

.course_feature {
  position: relative;
  z-index: 1;
}
.course_feature .img.landscape {
  width: 100%;
  object-fit: cover;
  object-position: 20% 80%;
}
@media screen and (min-width: 768px) {
  .course_feature .img.landscape {
    height: 400px;
  }
}

.course_background {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: -60px;
  gap: 20px;
  background-color: #f9f9f9;
  border-radius: 40px 40px 0 0;
  padding: 30px 3% 50px;
}

.course_heading {
  display: flex;
  align-items: baseline;
  padding: 0 20px;
}
.course_heading h2 {
  font-family: "Shrikhand", cursive;
  font-size: 200%;
  margin: 0 auto 0 0;
}
@media screen and (min-width: 768px) {
  .course_heading h2 {
    margin: 0 auto;
  }
}

.course_btn {
  position: relative;
  font-size: 30px;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
.course_btn--selected {
  position: absolute;
  top: 30px;
  right: calc(3% + 20px);
  font-size: 30px;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
}
.course_btn--selected:hover {
  animation: fill 500ms ease-in-out forwards;
  cursor: pointer;
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.menu_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu--large {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .menu--large {
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
  }
}

.menu_heading {
  color: #1a1a1a;
  font-weight: 400;
}
.menu_heading-bar {
  border-top: solid 3px #99E2D0;
  width: 50px;
}

.menu {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0 #e0e0e0;
  overflow: hidden;
  animation: fadeup 1000ms 100ms ease forwards;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .menu {
    width: 33.3333333333%;
    height: 120px;
  }
}
.menu_text {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
  width: 100%;
  transform-origin: right;
}
@media screen and (min-width: 768px) {
  .menu_text {
    justify-content: center;
  }
}
.menu_name {
  margin: 0;
}
.menu_bottom {
  display: flex;
}
.menu_bottom-side {
  margin: 0;
}
.menu_bottom-price {
  margin: 0 0 0 auto;
  font-weight: 700;
}
.menu--selected {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #99E2D0;
  font-size: 40px;
  width: 0;
  transform-origin: right;
  transform: translateX(120%);
  opacity: 0;
}
@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu.delay-second {
  animation-delay: 400ms;
}
.menu.delay-third {
  animation-delay: 700ms;
}
.menu:hover {
  cursor: pointer;
}
.menu:hover .menu_text {
  animation: slide_text 800ms forwards;
}
@keyframes slide_text {
  0% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}
.menu:hover .menu_name, .menu:hover .menu_bottom-side {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu:hover .menu--selected {
  opacity: 1;
  transform: translateX(0%);
  transition-duration: 800ms;
  animation: slide_anime 800ms forwards;
}
@keyframes slide_anime {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
.menu:hover .fa-solid.fa-circle-check {
  animation: rotation 500ms 300ms forwards;
}
@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}
.menu_btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  padding: 18px 30px;
  color: white;
  box-shadow: 0 5px 5px 0 #e0e0e0;
  width: 200px;
  margin: 20px auto 0 auto;
}
.menu_btn:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 0 5px 5px 0 #D3D3D3;
}

/*# sourceMappingURL=style.css.map */
