body {
  font-family: 'Roboto', sans-serif;
}

h2, h3 {
  font-weight: 700;
  margin: 15px 0 5px 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// color

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #D3D3D3;
$text-color: black;


// breakpoints

$sizes: sm, md, lg, xl;

$breakpoints: (
  'sm': 'screen and (min-width: 640px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1024px)',
  'xl': 'screen and (min-width: 1280px)',
) !default;

// media query

@mixin mq ($size) {
  @media #{map-get($breakpoints, $size)}{
    @content;
  }
}

// images

@mixin img_portrait {
  object-position: 40% 60%;
}
@mixin img_landscape {
  object-position: 10% 90%;
}

// button

@mixin btn {
  background: linear-gradient(to bottom right, $color-secondary, $color-primary);
  border-radius: 30px;
  border: none;
  padding: 18px 30px;
  color: lighten($text-color, 100%);
  box-shadow: 0 5px 5px 0 lighten($color-background, 5%);
  &:hover {
    cursor: pointer;
    background: linear-gradient(to bottom right, (lighten($color-secondary, 2%), lighten($color-primary, 2%)));
    box-shadow: 0 5px 5px 0 $color-background;
  }
}

// footer

@mixin footer {
  background-color: darken($color-background, 60%);
  color: lighten($text-color, 100%);
  padding: 3% 8%;
  .text_logo {
    font-family: 'Shrikhand', cursive;
    font-weight: lighter;
  }
  ul {
    list-style: none;
    padding: 0;
    p {
      margin: 0;
    }
    li {
      margin: 10px 0;
    }
    .footer_list {
      display: flex;
      align-items: baseline;
      gap: 10px;
    }
    .footer_mail {
      text-decoration: none;
      color: lighten($text-color, 100%);
    }
  }
}

// ============= home ==============

.home-header {
  display: flex;
  justify-content: center;
  img {
    width: 60%;
    padding: 3%;
  }
  @include mq(md) {
    img {
      width: 300px;
    }
  }
}

.location {
  background-color: lighten($color-background, 10%);
  display: flex;
  align-items: baseline;
  justify-content: center;
  box-shadow: inset 0 3px 3px 0 lighten($color-background, 5%);
  gap: 10px;
  &_icon {
    color: $text-color;
  }
}

.explore {
  background-color: lighten($color-background, 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 8% 50px;
  p {
    margin-bottom: 30px;
    text-align: center;
  }
  &_btn {
    @include btn;
  }
}

.how-to {
  display: flex;
  flex-direction: column;
  padding: 3% 8% 8%;
  gap: 15px;
  &_list {
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: lighten($color-background, 15%);
    box-shadow: 5px 5px 5px 0 lighten($color-background, 5%);
    &:hover {
      cursor: pointer;
      background-color: lighten($color-primary, 35%);
      .how-to_icon {
        color: $color-primary;
      }
    }
  }
  &_icon {
    color: lighten($text-color, 60%);
  }
  &_number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: lighten($text-color, 100%);
    margin-left: -15px;
  }
}

#menu {
  background-color: lighten($color-background, 15%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3% 8% 8%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include mq(md){
    flex-wrap: wrap;
    flex-direction: row;
  }
  a {
    text-decoration: none;
    color: $text-color;
  }
  &_card {
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0 lighten($color-background, 5%);
    gap: 10px;
    @include mq(md){
      width: 400px;
    }
    .img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
      &.portrait {
        @include img_portrait;
      }
      &.landscape {
        @include img_landscape;
      }
    }
    .label {
      position: absolute;
      color: darken($color-tertiary, 35%);
      background-color: $color-tertiary;
      width: 75px;
      height: 30px;
      font-weight: bolder;
      text-align: center;
      padding: 6px;
      top: 20px;
      right: 20px;
    }
    &-descript {
      display: flex;
      padding: 3% 5%;
      align-items: center;
      .menu-text {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        gap: 5px;
        h3, p {
          margin: 0;
        }
      }
      .btn-like {
        font-size: 30px;
      }
    }
  }
}

footer {
  @include footer;
  z-index: 3;
}

// ============ menu ==============

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  &_icon {
    position: absolute;
    left: 3%;
    padding-top: 3%;
    text-decoration: none;
    color: $text-color;
    font-size: 25px;
  }
  img {
    width: 60%;
    padding: 3% 3% 0 0;
  }
}

.course_img {
  padding: 3% 0 0 0;
  position: relative;
  z-index: 1;
  .img.landscape {
    width: 100%;
    @include img_landscape;
  }
}

.course {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: -60px;
  gap: 20px;
  background-color: lighten($color-background, 15%);
  border-radius: 40px 40px 0 0;
  padding: 3% 3% 50px;
  &_header {
    display: flex;
    align-items: baseline;
    padding: 2%;
    &-name {
      font-family: 'Shrikhand', cursive;
      font-size: 200%;
      margin-right: auto;
    }
    .btn-like {
      font-size: 30px;
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &_category {
      .category_container {
        color: lighten($text-color, 10%);
        font-weight: 400;
        &--underbar {
          border-top: solid 3px $color-tertiary;
          width: 50px;
        }
      }
    }
    &_card {
      background-color: lighten($text-color, 100%);
      border-radius: 20px;
      box-shadow: 5px 5px 5px 0 lighten($color-background, 5%);
      animation: fadeup 1000ms 100ms ease forwards;
      opacity: 0;
      @keyframes fadeup {
        from {
          opacity: 0;
          transform: translateY(-5px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      &.delay-second {
        animation-delay: 400ms;
      }
      &.delay-third {
        animation-delay: 700ms;
      }
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        content: '';
        background-color: $color-tertiary;
        transform-origin: center right;
        transform: scaleX(0%);
        transition: transform 500ms;
      }
      &:hover::before {
        transform: scaleX(20%);
      }
      .menu_container {
        display: flex;
        flex-direction: column;
        padding: 3%;
        gap: 5px;
        &--top {
          margin: 0;
        }
        &--bottom {
          display: flex;
          &-add {
            margin: 0;
          }
          &-price {
            margin: 0 0 0 auto;
            font-weight: 700;
          }
        }
        &--anime {
          display: none;
          &:hover {
            display: inline-block;


          }
        }
      }
    }
  } // end /.course-menu
  .course_btn {
    @include btn;
    width: 200px;
    margin: 20px auto 0 auto;
  }
} // end / .course