body {
  font-family: 'Roboto', sans-serif;
}

h2, h3 {
  font-weight: 700;
  margin: 15px 0 5px 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// color

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #D3D3D3;
$text-color: black;

// breakpoints

$sizes: sm, md, lg, xl;

$breakpoints: (
  'sm': 'screen and (min-width: 640px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1024px)',
  'xl': 'screen and (min-width: 1280px)',
) !default;

@mixin mq ($size) {
  @media #{map-get($breakpoints, $size)}{
    @content;
  }
}

.home-header {
  display: flex;
  justify-content: center;
  img {
    width: 60%;
    padding: 3%;
  }
  @include mq(md) {
    img {
      width: 300px;
      padding: 3%;
    }
  }
}

.location {
  background-color: lighten($color-background, 10%);
  display: flex;
  align-items: baseline;
  justify-content: center;
  box-shadow: inset 0 3px 3px 0 lighten($color-background, 5%);
  gap: 10px;
  &_icon {
    color: $text-color;
  }
}

.explore {
  background-color: lighten($color-background, 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 8% 8%;
  a {
    margin-top: 3%;
  }
  &_btn {
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border-radius: 30px;
    border: none;
    padding: 18px 30px;
    color: lighten($text-color, 100%);
    box-shadow: 0 5px 5px 0 lighten($color-background, 5%);
  }
}

.how-to {
  display: flex;
  flex-direction: column;
  padding: 3% 8% 8%;
  gap: 15px;
  &_list {
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: lighten($color-background, 15%);
    box-shadow: 5px 5px 5px 0 lighten($color-background, 5%);
    &--differ {
      background-color: lighten($color-primary, 35%);
    }
  }
  &_number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: lighten($text-color, 100%);
    margin-left: -15px;
  }

}

#menu {
  background-color: lighten($color-background, 15%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3% 8% 8%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include mq(md){
    flex-wrap: wrap;
    flex-direction: row;
  }
  &_card {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0 lighten($color-background, 5%);
    gap: 10px;
    @include mq(md){
      width: 400px;
    }
    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      object-position: 40% 60%;
      border-radius: 20px 20px 0 0;
    }
    &-descript {
      display: flex;
      padding: 3% 5%;
      align-items: center;
    }
    &-text {
      display: flex;
      flex-direction: column;
      margin-right: auto;
      gap: 5px;
      h3, p {
        margin: 0;
      }
    }
    &-like {
      margin: 0;
      font-size: 180%;    
    }
  }
}

footer {
  background-color: darken($color-background, 60%);
  color: lighten($text-color, 100%);
  padding: 3% 8%;
  .text_logo {
    font-family: 'Shrikhand', cursive;
    font-weight: lighter;
  }
  ul {
    list-style: none;
    padding: 0;
    p {
      margin: 0;
    }
    li {
      margin: 10px 0;
    }
    .footer_list {
      display: flex;
      align-items: baseline;
      gap: 10px;
    }
    .footer_mail {
      text-decoration: none;
      color: lighten($text-color, 100%);
    }
  }
}

